/* Quote Rotator */
.maxwell-word{
	padding-top: 1.3em;
	padding-right: 0em;
	text-align: right;
	font-size: 2.3em;
	font-family: myriadPro-cond;
}

.cbp-qtrotator .cbp-qtcontent{
	height: 9em;
}

.cbp-qtrotator .cbp-qtcontent h5{
	color: #FFC71D;
}

blockquote h5 {
	font-size: 1.7em;
}