/* Quote Rotator */
.maxwell-word{
	padding-top: 1.3em;
	padding-right: 0em;
	text-align: right;
	font-size: 2.5em;
	font-family: myriadPro-cond;
	color: black;
}
.maxwell-emphasized{
	font-size: 110%;
	font-family: myriadPro-cond;
	font-weight: 4px;
	color: #990a2e;
}

.dots{
	font-size: 2em;
	font-family: myriadPro-cond;
	font-weight: 4px;
	color: #990a2e;
}

.cbp-qtrotator .cbp-qtcontent{
	padding-top: 1.7em;
	font-size: 2.5em;
	font-family: myriadPro-cond;
	color: black;
}
